*{
    margin: 0;
    padding: 0;
}

/*container*/

.login-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;

    grid-template-areas:
    "header"
    "login"
    "footer";
}

.main-container {
    background-color: #c2c0c0;
    /*
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 55px;

    grid-template-areas:
    "header header"
    "nav mapcard"
    "footer footer";*/
}

.add-table_map_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 10px;
    grid-column: 10px;
}

.add-container{
    background-color: #9f9898;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    justify-content: center;

    grid-template-areas:
    "header"
    "addscreen"
}

.du-container{
    background-color: #9f9898;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    justify-content: center;

    grid-template-areas:
    "header"
    "addscreen"
}

/*header*/

.web-name, .welcome-message{
    display: flex;
    justify-content: center;
    /*background: #e6e4e5;*/
    background-color:  rgb(226, 224, 224);
    margin-bottom: 20px;
    height: 80px;
    /*box-shadow: 5px 10px 8px #c4c4c4;*/
}

.web-name h1, .welcome-message h1{
    margin-left: 40px;
    padding-top: 20px;
    font-family: 'sans-serif';
}

.login-message, .add-message, .du-message{
    background-color:  rgb(117, 218, 117);
    color: white;
    margin-top: -10px;
    margin-left: -50px;
    margin-right: -50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#image{
    padding-top: 13px;
    width: 120px;
    height: 60px;
}

/*login*/

.login{
    grid-area: login;
    justify-content: center;
    margin: 35px 0 90px 0;
}

.login-window{
    padding: 10px 50px 25px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
}

#loginButton{
    font-size: 16px;
    background-color: rgb(117, 218, 117);
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 96%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#password-login, #username-login{
    width: 70%;
}

input[type=text], input[type=password], input[type=number], #city-add, #city-du{
    width: 60%;
    padding: 12px;
    margin-left: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button:hover {
    opacity: 0.8;
}

/*main*/

#map{
    /*background-color:  rgb(217, 238, 216);*/
    height: auto;
    justify-self: stretch;
    /*padding: 50px 100px 10px;*/
    margin-left: 20px;
    margin-right: 20px;
}

#add-table{
    /*border: 1px solid rgb(217, 238, 216);*/
    /*background-color:  rgb(226, 224, 224);*/

    background-color:  rgb(226, 224, 224);
    height: auto;
    justify-self: stretch;
    /*padding-right: 100px;*/
    margin-left: 20px;
    margin-bottom: 20px;
}

#add-table li{
    background-color:  rgb(185, 181, 181);
    margin-bottom: 10px;
    padding: 12px;
    list-style-type: none;
}

#add-table li:hover{
    background-color:  rgb(241, 238, 238);
    cursor: pointer;
}


#table{
    margin: 30px;
    min-height: 1em;
}

#map{
    /*border: 1px solid rgb(15, 15, 15);*/
    /*border-radius: 20px;*/
}

.mainButtons{
    padding-left: 640px;
    margin: 10px 0  10px 400px;
}

.mainAddBtn{
    background-color: rgb(84, 210, 84);
    border: 1px solid rgb(84, 210, 84);
    border-radius: 10px;
    padding: 10px;
}

.logoutBtn{
    background-color: rgb(237, 187, 77);
    border: 1px solid rgb(237, 187, 77);
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
}

.mainAddBtn, .logoutBtn{
    width: 150px;
    cursor: pointer;
}

#mainFooter{
    display: flex;
    border: 1px solid rgb(144, 142, 142);
    background-color: rgb(201, 200, 199);
    grid-area: footer;
    justify-content: center;
    padding-top: 15px;
    border-bottom: 1px solid black;
}

#Impressum, #Datenschutzerklärung{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*add*/
.add-window{
    background-color: rgb(241, 245, 245);
    grid-area: addscreen;
    width: 400px;
    height: 650px;
    padding: 10px 50px 25px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    box-shadow: 0 10px 8px #c4c4c4;
    margin-top: 0px;
}

#addCancelButton, #addLocationButton,
#duDeleteBtn, #duUpdateBtn, #duCancelBtn{
    font-size: 16px;
    background-color: rgb(117, 218, 117);
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

#addButtonContainer, #duButtonContainer{
    text-align: center;
    display: flex;
    margin-top: 30px;
}

label {
    padding: 24px 12px 30px 0;
    width: 100px;
    display: inline-block;
}

/*delete-update*/

.du-window{
    background-color: rgb(241, 245, 245);
    grid-area: addscreen;
    width: 400px;
    height: 650px;
    padding: 10px 50px 25px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    box-shadow: 0 10px 8px #c4c4c4;
}

.requiredField{
    font-family: 'sans-serif';
    margin-top: 10px;
    margin-bottom: 10px;
}